:root {
    --white-color: #FFFFFF;
    --black-color: #000000;
    --yellow-color: #F6EA28;
    --dblue-color: #0041D8;
    --purple-color: #883CD5;
    --pink-color: #F140B6;
    --green-color: #18D545;
  }